/*---通用样式---*/
body,h1,h2,h3,p,ul,li{
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
	clear: both;
}
.float{
	float: left;
}
li{
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-family: 宋体;
}
.warper{
	width: 100%;
	font-family: 宋体;
	color: #fff;
}
.header,.containt,.footer{
	width: 69.75%;
	margin:0 auto;
}
/*---通用样式---*/

/*---header部分---*/
.header-inner{
	background: url(../images/header_bg_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 653px;
}
.nav{
	padding-top: 18px;
	margin-left: 3%; 
}
.nav li{
	float: left;
	width: 13.625%;
	text-align: center;
	font-size: 18px;
}
.logo{
	width: 23.75%;
	position: absolute;
}
.logo img{
	width: 100%;
	position: relative;
	left: 90%;
	top: 466px;
}
.logo-bottom{
	width: 15%;
	height: 68px;
	position: absolute;
}
.logo-bottom img{
	width: 100%;
	position: relative;
	left: 170%;
	top: 690px;
}
/*---header部分---*/

/*---containt部分---*/
.containt-inner{
	background: url(../images/containt_bg_02.png);
	background-size: 100%;
	height: 3500px;
}
.containt1{
	padding-top: 163px;
}
.left-top01{
	background: url(../images/01red_bg_03.png);
	height:173px;
	padding-top: 3%;
	margin-left: 20%;
}
.left-top01 h1{
	font-size: 23px;
	margin-top: 5px;
}
.left-top01 p{
	font-size: 13px;
	width: 37.5%;
	margin: 10px 0 0 2%;
	line-height: 170%;
	font-weight: 600;
}
.img01{
	width: 19.4375%;
	height: 486px;
	position: absolute;
}
.img01 img{
	width: 100%;
	position: relative;
	top: -36.6%;
	left: 210%;
}
.left-bottom01{
	font-size: 13px;
	margin-top: 40px;
}
.left-bottom01 li{
	line-height: 300%;
	margin-left:23.5%;
	letter-spacing: -0.5px;
}
.btn12{
	padding-left: 0.4%;
}
.left-bottom01 p{
	margin: 18px 0 0 24%;
}


.containt2{
	padding-top: 65px;
}
.img02{
	width: 16%;
	margin-left: 16%;
}
.img02 img{
	width: 100%;
}
.left-ul{
	margin: 118px 0 0 7%;
	font-size: 20px;
	line-height: 220%;
}
.right-ul{
	margin: 136px 0 0 8%;
	font-size: 14px;
	line-height: 258%;
	letter-spacing: -1px;
}
.bottom02{
	width:55.9375%;
	position: absolute;
}
.bottom02 img{
	width: 100%;
	position: relative;
	left: 15%;
	top: -20px;
}


.containt3{
	padding-top: 450px;
}
.left03{
	width: 60.8125%;
	position: absolute;
}
.left03 img{
	width:100%;
	position: relative;
	left: 5%;
	top: -30px;
}
.right03{
	width: 53%;
	margin:270px 0 0 48%;
}
.right03 h1{
	font-size: 20px;
	text-align: center;
	line-height: 180%;
	margin-bottom: 10px;
}
.right03 p{
	font-size: 12px;
	padding-left: 10%;
	width: 90%;
	line-height: 160%;
}
.right03 a{
	font-size: 18px;
	margin: 30px 0 0 76%;
}


.containt4{
	padding-top: 430px;
}
.left04{
	font-size: 24px;
	line-height: 170%;
	margin-left: 5%;
}
.left04 ul{
	margin-left: 10%;
}
.bottom04{
	width: 75%;
	position: absolute;
}
.bottom04 img{
	width:100%;
	position: relative;
	top:200px;
	left: -1.5%;
}
.right04{
	width: 17%;
	position: absolute;
}
.right04 img{
	width: 100%;
	position: relative;
	left: 250%;
	top: -115px;	
}



.containt5{
	padding-top: 650px;
	width: 120%;
}
.img1{
	margin-left: 5%;
	width: 10%;
	margin-right: 5%;
}
.img23{
	width: 10%;
	margin-right: 5%;
}
.img2,.img3{
	width: 100%;
}
.img2{
	margin-bottom: 5px;
}
.img4{
	width: 47%;
}
.img5{
	width: 60%;
	position: absolute;
}
.img5 img{
	position: relative;
	left: 15%;
	top: 270px;
}
.img1 img,.img2 img,.img3 img,.img4 img,.img5 img{
	width: 100%;
}
.containt5 p{
	font-size: 12px;
	text-align: center;
	margin-bottom: 5px;
}
.img4 p{
	margin-left: -75%;
}
/*---containt部分---*/

/*---footer部分---*/
.footer{
	width: 50%;
	position: absolute;
}
.footer img{
	width: 100%;
	position: relative;
	top: 430px;
	left:50%;
}
/*---footer部分---*/