@charset "UTF-8";
/*!
 * 
 * 盛邦升华
 * 
*/
/* 
 * css reset | v2.0
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: #787878; }

header {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 999;
  position: fixed;
  width: 100%;
  background: #fff; }
  header .nav {
    position: relative; }
    header .nav .style a {
      color: #59cfff;
      border-bottom: 1px #59cfff solid;
      border-radius: 0; }
    header .nav li a {
      border: 0;
      color: #000; }
      header .nav li a:hover {
        background: #fff;
        color: #59cfff; }
    header .nav li span {
      background: url(../img/nav.png);
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-left: 10px; }
    header .nav li .wx {
      background-position: -34px 0; }
    header .nav li .wb {
      background-position: -68px 0; }
    header .nav #wximg {
      position: absolute;
      top: 50px;
      left: -85px;
      opacity: 0;
      z-index: 99; }
    header .nav #qqimg {
      position: absolute;
      top: 70px;
      left: -35px;
      border: 1px solid #ccc;
      padding-bottom: 10px;
      opacity: 0;
      z-index: 199;
      background: #fff; }
      header .nav #qqimg .top {
        width: 50px;
        height: 50px;
        margin-top: -60px;
        margin-bottom: 0;
        margin-left: 30px; }
      header .nav #qqimg .qqsanjiao {
        margin-top: -35px;
        font-size: 70px;
        text-align: center;
        color: chartreuse; }
      header .nav #qqimg .qqtop {
        text-align: center;
        margin-top: -35px;
        padding: 10px 20px;
        width: 120px;
        font-size: 18px;
        background: chartreuse; }
      header .nav #qqimg .qqkf {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px; }
        header .nav #qqimg .qqkf a {
          margin-left: 1px; }
          header .nav #qqimg .qqkf a span {
            display: inline-block;
            position: absolute; }
            header .nav #qqimg .qqkf a span:hover {
              padding-bottom: 3px;
              border-bottom: 2px #ccc solid; }
  header .spanstyle {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    cursor: pointer; }

@media (max-width: 1024px) {
  header .col-md-5 {
    width: 20%; }
  header .col-md-7 {
    width: 80%; } }

@media (max-width: 440px) {
  header .col-md-7 {
    width: 100%; } }

#qqimg {
  margin-top: 20px; }

@media (max-width: 430px) {
  .nav li a {
    padding: 10px;
    font-size: 13px; }
  .spanstyle {
    margin-top: -30px;
    padding-left: 200px; }
  header .nav #qqimg {
    left: 165px; }
  header .nav #wximg {
    left: 115px; } }

.banner {
  width: 100%;
  height: 830px;
  padding-top: 120px; }
  .banner img {
    width: 100%;
    display: none;
    position: absolute; }

.main {
  padding-top: 80px;
  padding-bottom: 80px; }

@media (max-width: 1024px) {
  .banner {
    height: 560px; } }

@media (max-width: 430px) {
  .banner {
    height: 310px; }
  .main {
    padding-top: 10px;
    padding-bottom: 30px; } }

.hengxian {
  width: 40px;
  height: 2px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px; }

.fengexian {
  width: 100%;
  height: 2px;
  background: #ececec; }

.top {
  margin-bottom: 150px;
  text-align: center; }
  .top h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px; }
    .top h2 a {
      color: #000; }
  .top p {
    font-size: 18px;
    line-height: 180%; }

.bottom {
  padding-top: 60px; }
  .bottom h3 {
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 10px; }
    .bottom h3 a {
      color: #000; }
  .bottom p {
    line-height: 150%; }
  .bottom .col-md-4 {
    background: url(../img/main-1.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px; }

.show {
  background: url(../img/newsbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 410px;
  padding-bottom: 130px; }
  .show h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px; }
    .show h2 a {
      color: #000; }
  .show .col-md-12 {
    text-align: center;
    position: relative;
    overflow: hidden; }
  .show .show > img {
    z-index: 5; }
  .show .huadong1,
  .show .huadong2,
  .show .huadong3,
  .show .huadong4 {
    position: absolute;
    left: 57px;
    opacity: 0;
    z-index: 7; }
  .show .name1,
  .show .name2,
  .show .name3,
  .show .name4 {
    width: 178px;
    height: 50px;
    background: #1cc09f;
    position: absolute;
    padding-top: 15px;
    color: #000;
    top: 246px;
    left: 57px;
    margin-top: 52px;
    z-index: 8; }

@media (max-width: 1024px) {
  .show {
    padding-top: 300px; }
    .show .huadong1,
    .show .huadong2,
    .show .huadong3,
    .show .huadong4 {
      left: 32px; }
    .show .name1,
    .show .name2,
    .show .name3,
    .show .name4 {
      left: 32px; } }

@media (max-width: 430px) {
  .show {
    padding-top: 80px; }
    .show .name1,
    .show .name2,
    .show .name3,
    .show .name4 {
      left: 99px; }
    .show .col-xs-12 {
      margin-top: 20px;
      overflow: hidden; }
    .show .huadong1,
    .show .huadong2,
    .show .huadong3,
    .show .huadong4 {
      left: 99px; } }

.news {
  text-align: center;
  color: #000; }
  .news h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px; }
    .news h2 a {
      color: #000; }
  .news h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #636363; }
  .news p {
    line-height: 150%;
    color: #787878; }
  .news img {
    width: 100%;
    margin-top: 20px; }

.tell {
  margin-top: 20px;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
  background: #f8f8f8; }
  .tell h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px; }
    .tell h2 a {
      color: #000; }
  .tell .text {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: -110px;
    padding-left: 15px; }
  .tell .button {
    background: #769ade;
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    position: absolute; }

@media (max-width: 430px) {
  .tell .text {
    width: 200px;
    margin-left: -85px; }
  .tell .button {
    width: 80px; } }

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #242424;
  position: relative; }
  footer ul {
    margin-top: 30px; }
    footer ul li {
      line-height: 180%; }
  footer .col-md-6 {
    text-align: center; }
  footer h2 {
    font-size: 20px;
    color: #fbfbfb; }
  footer .dianji {
    padding-left: 30px;
    margin-top: -20px; }
    footer .dianji li {
      float: left;
      margin-left: 40px;
      margin-top: 20px; }
    footer .dianji img {
      margin-top: 30px;
      margin-left: 70px;
      width: 50%; }
  footer #fx, footer #yq {
    width: 170px;
    height: 30px;
    position: absolute;
    top: 24px;
    display: none; }
  footer #yq {
    padding-left: 10px;
    top: 0;
    left: 253px;
    width: 110px;
    height: 300px; }
    footer #yq a {
      color: #ccc; }

@media (max-width: 1024px) {
  footer .dianji img {
    margin-left: 30px; }
  footer #yq {
    left: 150px;
    top: 50px; } }

@media (max-width: 430px) {
  footer {
    height: 1000px; }
    footer .col-xs-12 {
      margin-bottom: 20px;
      text-align: center; }
    footer .dianji {
      padding-left: 15px; }
      footer .dianji li {
        margin-left: 20px; }
        footer .dianji li a {
          font-size: 13px; }
      footer .dianji img {
        margin-left: -20px; } }

.a-main {
  background: #f8f8f8;
  padding-top: 170px;
  padding-bottom: 50px; }
  .a-main .a-top {
    width: 422px;
    border: 1px #ccc solid;
    margin-bottom: 60px;
    background: #fff; }
    .a-main .a-top li {
      border-right: 1px #ccc solid;
      float: left;
      list-style: none;
      padding: 20px;
      text-align: center;
      color: #000;
      cursor: pointer; }
  .a-main .a-top::after {
    content: " ";
    display: table;
    clear: both; }
  .a-main .li0,
  .a-main .li2,
  .a-main .li1,
  .a-main .li3 {
    background-color: #2ce0bc; }
  .a-main .div2,
  .a-main .div3,
  .a-main .div4 {
    display: none; }
  .a-main .div1 p,
  .a-main .div4 p {
    background: url(../img/main-1.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    line-height: 180%;
    margin-bottom: 20px; }
  .a-main .div1 img,
  .a-main .div2 img,
  .a-main .div3 img,
  .a-main .div4 img {
    width: 100%; }

.s-main {
  background: #f8f8f8;
  padding-top: 170px;
  padding-bottom: 50px; }
  .s-main .s-top {
    width: 552px;
    border: 1px #ccc solid;
    margin-bottom: 60px;
    background: #fff; }
    .s-main .s-top li {
      border-right: 1px #ccc solid;
      float: left;
      list-style: none;
      padding: 20px;
      text-align: center;
      color: #000;
      cursor: pointer; }
  .s-main .s-top::after {
    content: " ";
    display: table;
    clear: both; }
  .s-main .li0,
  .s-main .li2,
  .s-main .li1,
  .s-main .li3,
  .s-main .li4,
  .s-main .li5 {
    background-color: #2ce0bc; }
  .s-main .div5,
  .s-main .div6,
  .s-main .div2,
  .s-main .div3,
  .s-main .div4 {
    display: none; }
  .s-main .div1 p,
  .s-main .div4 p {
    background: url(../img/main-1.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    line-height: 180%;
    margin-bottom: 20px; }
  .s-main .div1 img,
  .s-main .div2 img,
  .s-main .div3 img,
  .s-main .div4 img,
  .s-main .div5 img,
  .s-main .div6 img {
    width: 100%; }

.n-main {
  background: #f8f8f8;
  padding-top: 170px;
  padding-bottom: 50px; }
  .n-main .n-top {
    width: 107px;
    border: 1px #ccc solid;
    margin-bottom: 60px;
    background: #fff; }
    .n-main .n-top li {
      border-right: 1px #ccc solid;
      list-style: none;
      padding: 20px;
      text-align: center;
      color: #000;
      cursor: pointer; }
  .n-main .li0 {
    background-color: #2ce0bc; }
  .n-main .div1 p {
    background: url(../img/main-1.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    line-height: 180%;
    margin-bottom: 20px; }
    .n-main .div1 p:hover {
      text-decoration: underline;
      color: #000;
      cursor: pointer; }
  .n-main .div1 img,
  .n-main .div2 img,
  .n-main .div3 img,
  .n-main .div4 img,
  .n-main .div5 img,
  .n-main .div6 img {
    width: 100%; }

.map .iw_poi_title {
  color: #CC5522;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap; }

.map .iw_poi_content {
  font: 12px arial, sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word; }

.map .input-group {
  margin-bottom: 30px; }
